.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}

.modalHead {
    display: flex;
    padding: 16px;
}

.headTitle {
    flex: 1;
}

.headIcon {
    cursor: pointer;
}