.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    width: 24rem;
    max-width: calc(100vw - 3rem);
    margin-top: -2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--color-gray-200);
    background-color: var(--color-gray-50);
    gap: 0.5rem;
}

.modalHead {
    display: flex;
}

.headTitle {
    flex: 1;
}

.headIcon {
    cursor: pointer;
}
